<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="show">
    <div class="mt-3">
      <h3>Listing Details</h3>
    </div>
    <div class="list-show mb-3">
      <div class="list-img">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top show-img"
          alt="..."
        />
      </div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          <b class="location">
            <i class="fa-solid fa-location-dot"></i> <%= listing.location %>,
            <%= listing.country %> </b
          ><br />
          &#8377;<%= listing.price.toLocaleString("en-IN") %>/- night
          <br /><br />
          <%= listing.description %>
        </p>
        <div class="show-btns">
          <a href="/listings/<%= listing._id %>/edit">
            <button class="btn btn-primary">Edit</button>
          </a>
          <form
            action="/listings/<%= listing._id %>/delete?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
